*{

background-color: aquamarine;


}

#GIF-submit{
    transition-duration: 0.1s;
  }
  
  #GIF-submit:hover {
    background-color: aquamarine; 
    color: white;
    padding: 15px 32px;
  }



  h1{

    font-size: 30px;
    color:rgb(98, 98, 197);
  }

  label{

    color: blueviolet;
    size: 10px;
  }